<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout lezione 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>

        <img src="./Pics/logo.png" alt="logo" width="130px" height="100px">
        
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contatti</a></li>
        </ul>
        
    </nav>

    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel laborum maxime suscipit alias aspernatur, sed recusandae veniam dolores laudantium velit deserunt? Vero quis deleniti culpa magni numquam eos perspiciatis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel laborum maxime suscipit alias aspernatur, sed recusandae veniam dolores laudantium velit deserunt? Vero quis deleniti culpa magni numquam eos perspiciatis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel laborum maxime suscipit alias aspernatur, sed recusandae veniam dolores laudantium velit deserunt? Vero quis deleniti culpa magni numquam eos perspiciatis?</p>
        <img src="./Pics/avatar2.png" alt="pic" height="300px">
        <img src="./Pics/avatar2.png" alt="pic" height="300px">
        <img src="./Pics/avatar2.png" alt="pic" height="300px">
    </main>

    <aside>
        <img src="./Pics/sidebar.png" alt="immagine sidebar re barbuto" width="400px" height="300px">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vel ipsam ducimus dolore ipsa quibusdam repellat dolores sunt, nesciunt esse minima modi eveniet sit quod deserunt accusantium cumque illum autem?</p>
    </aside>

    <footer>
        <form action="#">

            <div class="cmt">
            <h3>Lascia un commento qui!</h3>

            <textarea name="comment" id="comment" cols="30" rows="2">Commento...</textarea>
            </div>

            <button type="submit">Commenta</button>
        </form>
    </footer>


    </body>
</html>